twine~=5.1.0    # uploader for PyPI
rich~=13.7.1    # rich is also a dependency of twine and pip so it should already be installed.
PyGithub~=2.3.0 # for creating tags and releases
urllib3~=2.2.1  # for getting the latest version of the package
