twine~=6.1.0      # uploader for PyPI
rich~=14.0.0      # rich is also a dependency of twine and pip so it should already be installed.
PyGithub~=2.6.1   # for creating tags and releases
urllib3~=2.3.0    # for getting the latest version of the package
pkginfo~=1.12.1.2 # for reading package version and name
